---
notes: |
  Components requiring margins can extend %push placeholders found in
  <code>scss/custom/components/_layout.scss</code>
  %push modifiers that do not yet have an associated class (and you don't want that
  class in production styles) can have that class added to
  <code>styleguide/src/assets/fabricator/styles/views/_layout.scss</code><br><br>
  files:<br>
  `scss/custom/components/_layout.scss`<br>
  `scss/custom/mixins/layout/_margin_padding.scss`
---
{{#each layout.margins}}
<div class="f-margin-container">
  <div class="{{this}}" data-computed-value="margin">
    <div class="f-styled">.{{this}}</div>
  </div>
</div>
<br>

{{/each}}

