$layout-grey: whitesmoke;

// grids
.g {
  & div {
    background-color: $layout-grey;
    padding: 1em;
    text-align: center;
  }
}





// islands
[class*="island"] {
	background-color: $layout-grey;

  & * { background-color: #FFF;}
}




// wraps
[class*="wrap"] {
  background-color: darken($layout-grey, 10%);

  & > div {
    background-color: $layout-grey;
    padding: 1em;
  }
}

